<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.steren.colorclock">

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname">

        <service
            android:name=".ColorClockWallpaper"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".ColorClockWallpaperSettings"
            android:exported="true"
            android:label="@string/cube2_settings"
            android:theme="@style/Theme.AppCompat"></activity>
    </application>

</manifest>